/* ===============================
   ADDRESS LIST CONTAINER
================================ */
.address-box {
  background: #ffffff;
  border: 2px solid #e0e0e0;
  border-radius: 14px;
  padding: 18px 20px;
  margin-bottom: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* ACTIVE SELECTED ADDRESS */
.address-box.active {
  border-color: #2874f0;
  background: #f5faff;
}

/* RADIO ALIGNMENT */
.address-box input[type="radio"] {
  transform: scale(1.1);
  margin-right: 10px;
  accent-color: #2874f0;
}

/* NAME */
.address-box strong {
  font-size: 22px;
  display: block;
  margin-bottom: 4px;
}

/* ADDRESS TEXT */
.address-box p {
  font-size: 20px !important;
  color: #757575;
  line-height: 1.6;
  margin:4px 0 8px 24px;
}




/* DELIVER HERE BUTTON */
.address-box .btn-warning {
  background-color: #ff9f00;
  border: none;
  color: #000;
  font-weight: 700;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 18px;
  transition: background 0.3s ease;
}

.address-box .btn-warning:hover {
  background-color: #fb8c00;
}

/* ADD NEW ADDRESS LINK */
.btn-link {
  padding-left: 0;
  font-size: 19px;
}

.btn-link:hover {
  text-decoration: underline;
}
